.externalToolBuilders/
.settings/
*~
html/*.html
html/*.jpg
html/*.png
html/*.gif
html/*.css
html/img/*
html/refimages/*
html/boards/*
html/keywords.js
node_modules
.idea
references.json
/.project
npm-debug.log
orig
